<div class="wrapper row4 bgded overlay" style="background: url(<%= asset_path 'Multi_Tenancy_is_made_for_the_arts1.jpg' %>) ;">
  <footer id="footer" class="hoc clear">
    <!-- ################################################################################################ -->
    <div class="one_third first">
      <h6 class="heading">Contatos Principais</h6>
      <ul class="nospace btmspace-30 linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
          Street Name &amp; Number, Town, Postcode/Zip
          </address>
        </li>
        <li><i class="fa fa-phone"></i> +244 (923) 447 936</li>
        <li><i class="fa fa-fax"></i> +244 (927) 814 221</li>
        <li><i class="fa fa-envelope-o"></i> isway.tecnologias@gmail.com</li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="heading">Fale com a gente</h6>
      <p class="nospace btmspace-30">Deixe o seu email o seu Nome para nos entra encontado.</p>
      <form method="post" action="#">
        <fieldset>
          <legend>Newsletter:</legend>
          <input class="btmspace-15" type="text" value="" placeholder="Name">
          <input class="btmspace-15" type="text" value="" placeholder="Email">
          <button type="submit" value="submit">Submit</button>
        </fieldset>
      </form>
    </div>
    <div class="one_third">
      <h6 class="heading">Parceria</h6>
      <figure><a href="#"><img class="borderedbox inspace-10 btmspace-15" <%= image_tag("nucleo.jpg", :alt => "isway",id:"iconl")%></a>
        <figcaption>
          <h6 class="nospace font-x1"><%= link_to 'Núcleo Software Lda', "#" %></h6>
          <time class="font-xs block btmspace-10" datetime="2045-04-06"><sup>th</sup>Março 2013</time>
        </figcaption>
      </figure>
    </div>
    <!-- ################################################################################################ -->
  </footer>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear">
    <!-- ################################################################################################ -->
    <p class="fl_left">Direito autoral &copy; 2017 - Núcleo Software Lda  <a href="#"></a></p>
    <p class="fl_right">Luanda <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">Angola</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="layout/scripts/jquery.min.js"></script>
<script src="layout/scripts/jquery.backtotop.js"></script>
<script src="layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>
